<form method="GET" style="display:none" action="">
    <div class="row uniform">
        <div class="12u">
            <p>URL<input type="text" name="url" id="url" value="" placeholder="URL"></p>
        </div>
        <div class="6u">
            <p>Title<input type="text" name="article" id="article" value="" placeholder="Article title"></p>
        </div>
        <div class="6u">
            <p>Author<input type="text" name="author" id="author" value="" placeholder="Author"></p>
        </div>
        <div class="6u">
            <p>Site name<input type="text" name="sitename" id="sitename" value="" placeholder="Site name"></p>
        </div>
        <div class="6u">
            <p>Publisher<input type="text" name="publisher" id="publisher" value="" placeholder="Publisher"></p>
        </div>
        <div class="12u">
            <p>Publish date<input type="text" name="pubdate" id="pubdate" value="" placeholder="Publish date"></p>
        </div>
        <div class="12u">
            <p>Access date<input type="text" name="accdate" id="accdate" value="" placeholder="Access date"></p>
        </div>
        <div class="12u$">
		    <ul class="actions">
			    <li><input type="submit" value="Generate" class="special"></li>
				<li><input type="reset" value="Reset"></li>
			</ul>
		</div>
    </div>
</form>