<form method="post" action="#">
    <div class="row uniform">
        <div class="12u">
            <input type="text" name="url" id="url" value="" placeholder="URL">
        </div>
        <div class="6u">
            <input type="text" name="article" id="article" value="" placeholder="Article title">
        </div>
        <div class="6u">
            <input type="text" name="author" id="author" value="" placeholder="Author">
        </div>
        <div class="6u">
            <input type="text" name="sitename" id="sitename" value="" placeholder="Site name">
        </div>
        <div class="6u">
            <input type="text" name="publisher" id="publisher" value="" placeholder="Publisher">
        </div>
        <div class="12u">
            <input type="text" name="pubdate" id="pubdate" value="" placeholder="Published date">
        </div>
        <div class="12u">
            <input type="text" name="accdate" id="accdate" value="" placeholder="Accessed date">
        </div>
        <div class="12u$">
		    <ul class="actions">
			    <li><input type="submit" value="Generate" class="special"></li>
				<li><input type="reset" value="Reset"></li>
			</ul>
		</div>
    </div>
</form>