<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="static/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="static/css/main.css" />
<!--[if lte IE 9]><link rel="stylesheet" href="static/css/ie9.css" /><![endif]-->
<!--[if lte IE 8]><link rel="stylesheet" href="static/css/ie8.css" /><![endif]-->
<link rel="shortcut icon" href="static/images/favicon.ico">	<!--// TODO Need a logo-->
<form method="post" action="#">
    <div class="row uniform">
        <div class="12u">
            <input type="text" name="URL" id="URL" value="" placeholder="URL">
        </div>
        <div class="6u">
            <input type="text" name="title" id="title" value="" placeholder="Article title">
        </div>
        <div class="6u">
            <input type="text" name="title" id="title" value="" placeholder="Author">
        </div>
        <div class="6u">
            <input type="text" name="title" id="title" value="" placeholder="Website title">
        </div>
        <div class="6u">
            <input type="text" name="title" id="title" value="" placeholder="Publisher">
        </div>
        <div class="12u">
            <input type="text" name="title" id="title" value="" placeholder="Published date">
        </div>
        <div class="12u">
            <input type="text" name="title" id="title" value="" placeholder="Accessed date">
        </div>
        <div class="12u$">
		    <ul class="actions">
			    <li><input type="submit" value="Submit" class="special"></li>
				<li><input type="reset" value="Reset"></li>
			</ul>
		</div>
    </div>
</form>