<form  id="asd" onsubmit="initializeBot(this)" style="display:none" method="GET" action="citationbot.php">
				    <div class="row uniform">
        				<div class="12u">
        				    <input type="text" name="URL" id="URL" value="" placeholder="URL">
        				</div>
        				<div class="12u$">
		    				<ul class="actions">
			    				<li><input type="submit" value="Submit" class="special"></li>
								<li><input type="reset" value="Reset"></li>
							</ul>
						</div>
    				</div>
</form>
