<form method="GET" style="display:none">
    <h3>Academic Links - Save your GPA!</h3>
									<ul class="features">
									    <li><a href="http://www.wikihow.com/">WikiHow - Don't know what to do? Ask!</a></li>
									    <li><a href="https://www.khanacademy.org">Khan Academy - Online courses! Free!</a></li>
									    <li><a href="https://www.coursera.org/">Coursera - Advanced Open courses! AI Machine Learning and Others!</a></li>
									    <li><a href="https://ocw.mit.edu/index.htm">MIT OCW - MIT Open Courses</a></li>
									    <li><a href="http://www.sparknotes.com/">Sparknotes - Save your Drama course and AP Language course</a></li>
									    <li><a href="">PlaceHoler</a></li><!--CommonNote A website that hosts open and free note for High School students</a></li>-->
	</ul>
</form>