<form method="GET" style="display:none">
    <h3>Programmers, ATTACK!</h3>
		<ul class="features">
            <li><a href="https://c9.io/">Cloud 9 - Online IDE && The develop environment for this website</a></li>
			<li><a href="https://www.w3schools.com/">W3School - For Web developers!</a></li>
			<li><a href="http://www.jetbrains.com/">JetBrains - The best IDE provider</a></li>
			<li><a href="https://www.bluehost.com/">Bluehost - Want some cheap servers?</a></li>
			<li><a href="http://www.sublimetext.com/">SublimeText 3 - The best editor</a></li>
			<li><a href="https://github.com/XX-net/XX-Net">Sorry, there is no Ladder here</a></li>
		</ul>
</form>