<form method="GET" style="display:none" action="downloads.php">
    <select name="Subject"><!--Write a crawler to download files-->
        <option value="AP_Art_History">AP Art History</option>
        <option value="AP_Biology">AP Biology</option>
        <option value="AP_Calculus_AB">AP Calculus AB</option> 
        <option value="AP_Calculus_BC">AP Calculus BC</option>
        <option value="AP_Chemistry">AP Chemistry</option>
        <option value="AP_Comparative_Government_&_Politics">AP Comparative Government & Politics</option>
        <option value="AP_Computer_Science_A">AP Computer Science A</option>
        <option value="AP_Computer_Science_Principles">AP Computer Science Principles</option>
        <option value="AP_English_Language_&_Composition">AP English Language & Composition</option>
        <option value="AP_English_Literature_&_Composition">AP English Literature & Composition</option>
        <option value="AP_Environmental_Science">AP Environmental Science</option>
        <option value="AP_European_History">AP European History</option>
        <option value="AP_Human_Geography">AP Human Geography</option>
        <option value="AP_Macroeconomics">AP Macroeconomics</option>
        <option value="AP_Microeconomics">AP Microeconomics</option>
        <option value="AP_Music_Theory">AP Music Theory</option>
        <option value="AP_Physics_1">AP Physics 1</option>
        <option value="AP_Physics_2">AP Physics 2</option>
        <option value="AP_Physics_C:_Electricity_and_Magnetism">AP Physics C: Electricity and Magnetism</option>
        <option value="AP_Physics_C:_Mechanics">AP Physics C: Mechanics</option>
        <option value="AP_Psychology">AP Psychology</option>
        <option value="AP_Statistics">AP Statistics</option>
        <option value="AP_Studio_Art_2-D_Design">AP Studio Art 2-D Design</option>
        <option value="AP_Studio_Art_3-D_Design">AP Studio Art 3-D Design</option>
        <option value="AP_Studio_Art_Drawing">AP Studio Art Drawing</option>
        <option value="AP_United_States_Government_&_Politics">AP United States Government & Politics</option>
        <option value="AP_United_States_History">AP United States History</option>
        <option value="AP_World_History">AP World History</option>
    </select>
    <br/>
    <div class="12u$">
		    <ul class="actions">
			    <li><a href="#" target="_blank" onmouseover="changeherf(this)" class="button special icon fa-download">Question</a></li>
				<li><a href="#" target="_blank" onmouseover="changeherf(this)" class="button icon fa-download">Sample</a></li>
				<li><a href="#" target="_blank" onmouseover="changeherf(this)" class="button special icon fa-download">Stat</a></li>
			</ul>
		</div>
</form>